@import "./colors.css";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  /*overflow: hidden;*/
  background-color: var(--color-bg-page);
  color: var(--color-text-primary);

  font-family:
    "Inter",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}

.ant-input,
.ant-input-password,
.ant-input-affix-wrapper {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}

.ant-checkbox-wrapper {
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}
