.containerInputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.containerInput {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.title {
  font-size: 18px;
  line-height: 150%;
}

.loginInput,
.passwordInput {
  font-size: 18px;
  line-height: 150%;
  min-width: 400px;
  height: 55px;
  padding: 14px 16px;
  border-radius: 12px;
}

.clearButton {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  color: red;
  position: relative;
}

.checkbox {
  color: #9c9c9c;
  padding: 20px 0;
  user-select: none;
  display: flex;
  font-size: 16px;
  line-height: 150%;
}

.button {
  width: 100%;
}

.divider {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #b1b1b1;
  font-size: 16px;
  line-height: 150%;
  padding: 16px 0 0 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #ededed;
}
