.containerInputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.containerInput {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.title {
  font-size: 18px;
  line-height: 150%;
}


.loginInput,
.passwordInput {
  font-size: 18px;
  line-height: 150%;
  min-width: 400px;
  height: 55px;
  padding: 14px 16px;
  border-radius: 12px;
}

.clearButton {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox {
  color: #9c9c9c;
  padding: 20px 0;
  user-select: none;
  display: flex;
}